@import url(__background/popup__background.css);
@import url(__close-button/popup__close-button.css);
@import url(__container/popup__container.css);
@import url(__save-button/popup__save-button.css);
@import url(__title/popup__title.css);
@import url(__input/popup__input.css);
@import url(__input/_content/popup__input_content_job.css);
@import url(__input/_content/popup__input_content_name.css);

.popup {
    position: fixed;
    width: 100%;
    top: 0;
    display: none;
}

