.profile__profession {
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
    
}

@media screen and (max-width: 767px) {
    .profile__profession {
        font-size: 14px;
        text-align: end;
    }
}