.profile {
    display: flex;
    width: 69%;
    max-width: 880px;
    margin: 35px auto 48px;
}

@media screen and (max-width: 1023px) {
    .profile {
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .profile {
        display: flex;
        flex-direction: column;
        margin-top: 45px;
    }
}