.profile__foto {
    border-radius: 50%;
    width: 120px;
    
}

.profile__foto:hover {
    background-color: black;
    opacity: 0.5;
    
}

@media screen and (max-width: 767px) {
    .profile__foto {
        align-self: center;
        margin-bottom: 20px;
    }
}