.popup__save-button {
    width: 83.3%;
    height: 50px;
    margin: 12px auto 37px;
    color: white;
    background-color: black;
    font-size: 18px;
    line-height: 1.3;
}

.popup__save-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 1023px) {
    .popup__save-button {
        margin-bottom: 25px;
}
}