@import url(__text/footer__text.css);

.footer {
    margin: 0 auto;
    padding: 65px 0 60px 0;
    display: flex;
    width: 69%;
    max-width: 880px;
}

@media screen and (max-width: 1023px) {
    .footer {
        width: 90%;
    }
}